n8n for beginner/template-n8n/[workshop1] n8n-read-news-to-gmail.json
{
  "name": "n8n-read-news-to-gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -16
      ],
      "id": "3f8362ad-4a74-42db-bf60-4115e150ece7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        -16
      ],
      "id": "f05083ff-b74d-47eb-bc90-b92dbf92099d",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "c8101d07-3ec7-458a-a88f-f0660e42e575",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณเป็นผู้เชี่ยวชาญด้านการอ่านข่าว ช่วยอ่านข่าวทั้งหมดนี้แล้วสรุปสั้น ๆ เป็นภาษาไทย โดยแสดงเป็นข้อมูลดังนี้\n\n{{ $json.title }}{{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -16
      ],
      "id": "c76387a2-a893-483b-9460-99961392404a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-14b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "d12b36cf-e437-49f9-82f9-ab2efec08a71",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "itQ9TFucXdGjCjPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all().map((item, index) => {\n  return `#${index+1}: ${item.json.output}`\n})\n\nreturn [{\n  json: {\n    articles: articles.join('\\n\\n')\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -16
      ],
      "id": "9d09ac06-e294-4857-9377-29d43b94a764",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "samitkoyom@gmail.com",
        "subject": "N8N News: with Qwen 3",
        "emailType": "text",
        "message": "=อัพเดทข่าวไอทีเด่นประจำวันครับ\nมีหัวข้อข่าวดังนี้\n\n{{ $json.articles }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -16
      ],
      "id": "239a4de0-52d3-46f0-a86a-1aa1cca57d2b",
      "name": "Send a message",
      "webhookId": "fbb725ac-1568-4f27-bc52-657a4f731d5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "yv5yfbceEZUR0kQ6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "b5ad4a72-1144-4943-a468-a43b41e2b5a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "441b36dc8dd6eaaa31fd84ac921b1fe587886b3ae613022a204f081d3b627185"
  },
  "id": "e4AVdta6mIaehUX9",
  "tags": []
}