n8n for beginner/template-n8n/[workshop2] auto-report.json
{
  "name": "[workshop2] auto-report",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "b46d16fc-68c7-42fc-9cc7-a56c279e2115",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uv4sho8496-R96tCF2H02IOvit8doIZgkSztO55NWrw",
          "mode": "list",
          "cachedResultName": "report-n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uv4sho8496-R96tCF2H02IOvit8doIZgkSztO55NWrw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uv4sho8496-R96tCF2H02IOvit8doIZgkSztO55NWrw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        192,
        0
      ],
      "id": "6cd33e29-cf69-46f7-9b92-1fa69387d081",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SFEKlSFmpmfmb4RM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลดิบทั้งหมดที่เข้ามาจาก Google Sheets\n// $input.all() จะได้ Array ของ n8n Items ( [{json: {...}}, {json: {...}}] )\n// เราใช้ .map เพื่อดึงเฉพาะส่วน .json ออกมาเป็น Array ข้อมูลดิบที่พร้อมใช้งาน\nconst transactions = $input.all().map(item => item.json);\n\n// --- 1. คำนวณข้อมูลสรุป (Summary Metrics) ---\n\n// 1.1 ยอดขายรวมทั้งหมด (Sum of TotalPrice)\nconst totalSales = transactions.reduce((sum, item) => sum + item.TotalPrice, 0);\n\n// 1.2 จำนวนออเดอร์ที่ไม่ซ้ำกัน (Count of unique OrderID)\nconst uniqueOrderIds = new Set(transactions.map(item => item.OrderID));\nconst orderCount = uniqueOrderIds.size;\n\n// 1.3 จำนวนลูกค้าใหม่ (Count of unique CustomerID where CustomerType is 'New')\nconst newCustomerIds = new Set(\n  transactions\n    .filter(item => item.CustomerType === 'New')\n    .map(item => item.CustomerID)\n);\nconst newCustomers = newCustomerIds.size;\n\n// 1.4 ยอดขายเฉลี่ยต่อออเดอร์ (Handle case of 0 orders to avoid division by zero)\nconst avgOrderValue = orderCount > 0 ? (totalSales / orderCount) : 0;\n\n// --- 2. สรุปและจัดอันดับสินค้าขายดี (Top Products) ---\n\n// สร้าง Object เพื่อรวบรวมยอดของแต่ละสินค้า\nconst productSummary = {};\nfor (const item of transactions) {\n  const productName = item.ProductName;\n  // ถ้ายังไม่เคยเจอสินค้านี้ ให้สร้าง Object เริ่มต้น\n  if (!productSummary[productName]) {\n    productSummary[productName] = {\n      name: productName,\n      quantity: 0,\n      revenue: 0,\n    };\n  }\n  // บวกยอดเพิ่มเข้าไป\n  productSummary[productName].quantity += item.Quantity;\n  productSummary[productName].revenue += item.TotalPrice;\n}\n\n// แปลง Object ให้เป็น Array, จัดเรียงตามยอดขาย (revenue) จากมากไปน้อย, และเลือกมา 5 อันดับแรก\nconst topProducts = Object.values(productSummary)\n  .sort((a, b) => b.revenue - a.revenue)\n  .slice(0, 5)\n  .map(p => ({\n      ...p,\n      // จัดรูปแบบตัวเลขให้มี comma เพื่อความสวยงาม\n      revenue: p.revenue.toLocaleString('th-TH', { minimumFractionDigits: 2, maximumFractionDigits: 2 })\n  }));\n\n// --- 3. สร้าง HTML สำหรับตารางสินค้า (ส่วนที่เพิ่มเข้ามา) ---\n// ส่วนนี้คือหัวใจสำคัญในการแก้ปัญหา [object Object]\n// เราจะวนลูปข้อมูล topProducts แล้วสร้างเป็น String ของ HTML table rows (<tr>)\nconst topProductsHtml = topProducts.map(product => {\n  return `\n    <tr>\n      <td style=\"padding: 12px 15px; text-align: left; border-bottom: 1px solid #e9ecef; color: #333; font-size: 14px;\">${product.name}</td>\n      <td style=\"padding: 12px 15px; text-align: right; border-bottom: 1px solid #e9ecef; color: #333; font-size: 14px;\">${product.quantity}</td>\n      <td style=\"padding: 12px 15px; text-align: right; border-bottom: 1px solid #e9ecef; color: #333; font-size: 14px;\">${product.revenue}</td>\n    </tr>\n  `;\n}).join(''); // ใช้ .join('') เพื่อรวมทุกแถวให้เป็น String เดียวที่พร้อมใช้งาน\n\n\n// --- 4. สร้าง Object ผลลัพธ์สุดท้ายสำหรับ Report ---\n// โครงสร้างนี้จะตรงกับที่ HTML Template ต้องการ\nconst result = {\n  reportDate: new Date().toLocaleDateString('th-TH', { day: 'numeric', month: 'long', year: 'numeric' }),\n  storeName: \"Gadget-Hub Store\", // <-- เปลี่ยนเป็นชื่อร้านของคุณได้เลย\n  summary: {\n    // ใช้ toLocaleString เพื่อจัดรูปแบบตัวเลขให้สวยงาม (เช่น 54,500.00)\n    totalSales: totalSales.toLocaleString('th-TH', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),\n    orderCount: orderCount,\n    avgOrderValue: avgOrderValue.toLocaleString('th-TH', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),\n    newCustomers: newCustomers\n  },\n  topProducts: topProducts, // เรายังเก็บข้อมูล Array เดิมไว้ เผื่อต้องใช้\n  topProductsHtml: topProductsHtml, // เพิ่ม key ใหม่ที่เป็น HTML String เข้าไป\n  chartUrl: \"https://quickchart.io/chart?c={type:'bar',data:{labels:['จ','อ','พ','พฤ','ศ','ส','อา'],datasets:[{label:'ยอดขาย (บาท)',data:[12000,19000,15000,25000,22000,45000,54500],backgroundColor:'rgba(75, 192, 192, 0.5)',borderColor:'rgb(75, 192, 192)',borderWidth:1}]}}\"\n};\n\n// --- 5. ส่งคืนผลลัพธ์ ---\n// สำคัญมาก: เราจะ return array ใหม่ที่มีแค่ item เดียวซึ่งก็คือผลสรุปของเรา\n// เพื่อให้ Node ถัดไปทำงานกับข้อมูลสรุปนี้ได้\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "8d547404-f643-4e3d-9b3f-7ccfaf2b2c30",
      "name": "Code"
    },
    {
      "parameters": {
        "subject": "Report of day",
        "message": "=<!DOCTYPE html>\n<html lang=\"th\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>รายงานยอดขาย</title>\n    <style>\n        body { margin: 0; padding: 0; background-color: #f4f7f6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }\n        .container { width: 100%; max-width: 680px; }\n        .header h1 { color: #333; font-size: 24px; font-weight: bold; }\n        .header p { color: #888; font-size: 14px; }\n        .card { background-color: #ffffff; border-radius: 8px; padding: 20px; text-align: center; border: 1px solid #e9ecef; }\n        .card-label { font-size: 14px; color: #6c757d; margin-bottom: 5px; }\n        .card-value { font-size: 28px; font-weight: bold; color: #212529; }\n        .chart-container { background-color: #ffffff; border-radius: 8px; padding: 20px; margin-top: 20px; border: 1px solid #e9ecef; }\n        .table-container { background-color: #ffffff; border-radius: 8px; padding: 20px; margin-top: 20px; border: 1px solid #e9ecef; }\n        .products-table { width: 100%; border-collapse: collapse; }\n        .products-table th, .products-table td { padding: 12px 15px; text-align: left; border-bottom: 1px solid #e9ecef; }\n        .products-table th { background-color: #f8f9fa; color: #495057; font-weight: 600; font-size: 12px; text-transform: uppercase; }\n        .products-table td { color: #333; font-size: 14px; }\n        .footer { font-size: 12px; color: #aaa; text-align: center; padding: 20px 0; }\n        @media screen and (max-width: 600px) {\n            .container { width: 100% !important; }\n            .card-container-row { display: block !important; }\n            .card-container-cell { display: block !important; width: 100% !important; padding-right: 0 !important; padding-left: 0 !important; padding-bottom: 15px !important; }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f7f6; font-family: sans-serif;\">\n    <table role=\"presentation\" style=\"width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#f4f7f6;\">\n        <tr>\n            <td align=\"center\" style=\"padding:20px 0;\">\n                <table role=\"presentation\" class=\"container\" style=\"max-width: 680px; width:100%;border-collapse:collapse;border-spacing:0;background:#ffffff; padding: 20px 30px;\">\n                    <!-- Header -->\n                    <tr>\n                        <td align=\"center\" class=\"header\" style=\"padding: 20px 0 30px 0;\">\n                            <h1 style=\"color: #333; font-size: 24px; font-weight: bold; margin:0;\">รายงานสรุปยอดขาย</h1>\n                            <p style=\"color: #888; font-size: 14px; margin:5px 0 0 0;\">สำหรับวันที่ {{ $json.reportDate }} | {{ $json.storeName }}</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Dashboard Cards -->\n                    <tr>\n                        <td>\n                            <table role=\"presentation\" style=\"width:100%;border-collapse:collapse;border-spacing:0;\">\n                                <tr class=\"card-container-row\">\n                                    <td class=\"card-container-cell\" style=\"padding-right: 10px; width: 50%; vertical-align: top;\"><div class=\"card\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; text-align: center; border: 1px solid #e9ecef;\"><div class=\"card-label\" style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">ยอดขายรวม (บาท)</div><div class=\"card-value\" style=\"font-size: 28px; font-weight: bold; color: #007bff;\">{{ $json.summary.totalSales }}</div></div></td>\n                                    <td class=\"card-container-cell\" style=\"padding-left: 10px; width: 50%; vertical-align: top;\"><div class=\"card\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; text-align: center; border: 1px solid #e9ecef;\"><div class=\"card-label\" style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">จำนวนออเดอร์</div><div class=\"card-value\" style=\"font-size: 28px; font-weight: bold; color: #212529;\">{{ $json.summary.orderCount }}</div></div></td>\n                                </tr>\n                                <tr class=\"card-container-row\" style=\"padding-top:20px; display: table-row;\"><td><div style=\"height:20px;\"></div></td></tr>\n                                <tr class=\"card-container-row\">\n                                     <td class=\"card-container-cell\" style=\"padding-right: 10px; width: 50%; vertical-align: top;\"><div class=\"card\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; text-align: center; border: 1px solid #e9ecef;\"><div class=\"card-label\" style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">เฉลี่ยต่อออเดอร์ (บาท)</div><div class=\"card-value\" style=\"font-size: 28px; font-weight: bold; color: #212529;\">{{ $json.summary.avgOrderValue }}</div></div></td>\n                                     <td class=\"card-container-cell\" style=\"padding-left: 10px; width: 50%; vertical-align: top;\"><div class=\"card\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; text-align: center; border: 1px solid #e9ecef;\"><div class=\"card-label\" style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">ลูกค้าใหม่</div><div class=\"card-value\" style=\"font-size: 28px; font-weight: bold; color: #28a745;\">+{{ $json.summary.newCustomers }}</div></div></td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Chart -->\n                    <tr>\n                        <td style=\"padding: 30px 0;\"><div class=\"chart-container\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; border: 1px solid #e9ecef;\"><h3 style=\"margin-top:0; margin-bottom: 15px; font-size: 16px; color:#333;\">ยอดขาย 7 วันล่าสุด</h3><img src=\"{{ $json.chartUrl }}\" alt=\"Sales Chart\" style=\"width:100%;max-width:100%;height:auto;\"></div></td>\n                    </tr>\n\n                    <!-- Top Products Table -->\n                    <tr>\n                        <td>\n                            <div class=\"table-container\" style=\"background-color: #ffffff; border-radius: 8px; padding: 20px; border: 1px solid #e9ecef;\">\n                                <h3 style=\"margin-top:0; margin-bottom: 15px; font-size: 16px; color:#333;\">สินค้า 5 อันดับขายดี</h3>\n                                <table class=\"products-table\" role=\"presentation\" style=\"width: 100%; border-collapse: collapse;\">\n                                    <thead>\n                                        <tr>\n                                            <th style=\"padding: 12px 15px; text-align: left; border-bottom: 1px solid #e9ecef; background-color: #f8f9fa; color: #495057; font-weight: 600; font-size: 12px; text-transform: uppercase;\">สินค้า</th>\n                                            <th style=\"padding: 12px 15px; text-align: right; border-bottom: 1px solid #e9ecef; background-color: #f8f9fa; color: #495057; font-weight: 600; font-size: 12px; text-transform: uppercase;\">จำนวน</th>\n                                            <th style=\"padding: 12px 15px; text-align: right; border-bottom: 1px solid #e9ecef; background-color: #f8f9fa; color: #495057; font-weight: 600; font-size: 12px; text-transform: uppercase;\">ยอดขาย (บาท)</th>\n                                        </tr>\n                                    </thead>\n                                    <tbody>\n                                          {{ $json.topProductsHtml }}\n                                    </tbody>\n                                </table>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td align=\"center\" class=\"footer\" style=\"font-size: 12px; color: #aaa; text-align: center; padding: 30px 0 10px 0;\"><p style=\"margin:0;\">อีเมลนี้ถูกสร้างขึ้นโดยระบบอัตโนมัติ</p><p style=\"margin:0;\">{{ $json.storeName }} &copy; 2023</p></td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "0486b609-a521-4dd7-b287-5cf2a34acaae",
      "name": "Send a message",
      "webhookId": "58d40985-f60f-4f48-b323-9022600d624e",
      "credentials": {
        "gmailOAuth2": {
          "id": "1n1kMMkdCDaADcA6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gmail ส่ง report ให้\nอย่าลืมใส่เมลกับ credential",
        "height": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -224
      ],
      "typeVersion": 1,
      "id": "79933d86-19e3-40da-932a-8d228158e426",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ข้อมูลสินค้า\nอย่าลืมใส่ credential กับ เอาข้อมูลจาก data ไปแปะใน google sheet ตัวเอง\n\n[Google Sheets ข้อมูลสินค้า clone ได้เป็นของตัวเองได้](https://docs.google.com/spreadsheets/d/1rEGcpVW_RGA7QxCDCAZk5ywzlAdli8op/edit?gid=2063485991#gid=2063485991)\n",
        "height": 400,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -224
      ],
      "typeVersion": 1,
      "id": "9c673e56-4ecc-4db2-a24a-a2ed7ca7cc79",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Code node\nจัดการ data ทั้งหมดใน \ncode node",
        "height": 400,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -224
      ],
      "typeVersion": 1,
      "id": "b82e658f-c88a-42da-83d0-6b83307c1214",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f15212b2-cf45-4189-9654-9bad2ed08593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3af11cfd2833e45587b7f367d1709b9ca7a5f3e9ebfd03ad3f95bfe1bfc2b91"
  },
  "id": "JJ3HSkgLjyxnN9KO",
  "tags": []
}